{% extends 'base.html' %}

{% block content %}
<section class="home">
  <div class="text"
    style="font-size: 2.5rem; font-weight: 500; color: rgb(53, 61, 71); letter-spacing: 2px; padding-top: 5vh;">
    DASHBOARD
    {% for info in info %}
    <div class="flex flex-col">
      <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
          <div class="overflow-hidden">
            <div class="profile-header flex items-center">
              <!-- Profile Picture -->
              <div class="profile-img mr-8">
                <img
                  src="{% if info.profile_pic %}{{ info.profile_pic.url }}{% else %}/static/assets/profile.jpg{% endif %}"
                  alt="Profile Picture" class="rounded-full w-32 h-32 object-cover">
              </div>
              <div>
                <div class="text-xl font-semibold">{{ info.firstName }} {{ info.lastName }}</div>
                <div class="text-gray-600">{{ info.designation }}</div>
              </div>
            </div>

            <table class="min-w-full mt-6">
              <thead class="bg-white border-b">
                <tr>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Employee ID</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Details</th>
                </tr>
              </thead>
              <tbody>
                <tr class="bg-white border-b hover:bg-gray-100">
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">Employee ID</td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ user.username }}</td>
                </tr>
                <tr class="bg-white border-b hover:bg-gray-100">
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">Rating</td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      {% for i in "12345" %}
                      {% if i|add:"0" <= info.rating %}
                          <!-- Filled Star SVG -->
                          <svg class="w-5 h-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                              <path d="M8 .25a.75.75 0 0 1 .66.4l1.412 2.84 3.14.456a.75.75 0 0 1 .416 1.32l-2.268 2.212.534 3.111a.75.75 0 0 1-1.09.784l-2.79-1.464-2.79 1.464a.75.75 0 0 1-1.09-.784l.534-3.111-2.268-2.212a.75.75 0 0 1 .416-1.32l3.14-.456L7.34.65A.75.75 0 0 1 8 .25z"/>
                          </svg>
                      {% else %}
                          <!-- Empty Star SVG -->
                          <svg class="w-5 h-5 text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                              <path d="M8 .25a.75.75 0 0 1 .66.4l1.412 2.84 3.14.456a.75.75 0 0 1 .416 1.32l-2.268 2.212.534 3.111a.75.75 0 0 1-1.09.784l-2.79-1.464-2.79 1.464a.75.75 0 0 1-1.09-.784l.534-3.111-2.268-2.212a.75.75 0 0 1 .416-1.32l3.14-.456L7.34.65A.75.75 0 0 1 8 .25z"/>
                          </svg>
                      {% endif %}
                  {% endfor %}
                  </td>
                </tr>
                <tr class="bg-white border-b hover:bg-gray-100">
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">First Name</td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ info.firstName }}</td>
                </tr>
                <tr class="bg-white border-b hover:bg-gray-100">
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">Middle Name</td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ info.middleName }}</td>
                </tr>
                <tr class="bg-white border-b hover:bg-gray-100">
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">Last Name</td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ info.lastName }}</td>
                </tr>
                <tr class="bg-white border-b hover:bg-gray-100">
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">Phone Number</td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ info.phoneNo }}</td>
                </tr>
                <tr class="bg-white border-b hover:bg-gray-100">
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">Email</td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ info.email }}</td>
                </tr>
                <tr class="bg-white border-b hover:bg-gray-100">
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">Date of Birth</td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ info.dOB }}</td>
                </tr>
                <tr class="bg-white border-b hover:bg-gray-100">
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">Aadhar Number</td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ info.addharNo }}</td>
                </tr>
                <tr class="bg-white border-b hover:bg-gray-100">
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">Designation</td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ info.designation }}</td>
                </tr>
                <tr class="bg-white border-b hover:bg-gray-100">
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">Salary</td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ info.salary }}</td>
                </tr>
                <tr class="bg-white border-b hover:bg-gray-100">
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">Joining Date</td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ info.joinDate }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</section>
{% endblock %}